extends layout
block content
    .w3-card-4
      if infoaluno != null
        header.w3-container.w3-teal
            h3 #{infoaluno.Nome}
        div(class="w3-container w3-pale-blue")
            p Número de aluno: #{infoaluno.Número}
            p Página Github: #{infoaluno.Git}
            p TPs: #{infoaluno.tpc}
      else
        div(class="w3-container")
          p Erro: Aluno não encontrado...
      div(class="w3-container w3-teal")
        p
          a(href='/') Voltar a página inicial.
        p
          a(href='/alunos') Voltar a página de alunos.
      footer(class="w3-container w3-teal")
        address Gerado por galuno :: 2020-Novembro, Bernardo Viseu
