extends layout
block content
    .w3-card-4
        header.w3-container.w3-teal
            h3 Editar aluno
        div(class="w3-container w3-pale-blue")
            p Inserir informação do aluno:
            form(action=`/alunos/${infoaluno._id}`, method='POST')
                p
                    | Número:
                    input(type='text', name='Número', value=infoaluno.Número)
                p
                    | Nome:
                    input(type='text', name='Nome', value=infoaluno.Nome)
                p
                    | Página Github:
                    input(type='text', name='Git', value=infoaluno.Git)
                input(type='submit', value='Editar')
        div(class="w3-container w3-teal")
            p
                a(href='/') Voltar a página inicial.
            p
                a(href='/alunos') Voltar a página de alunos.
        footer(class="w3-container w3-teal")
            address Gerado por galuno :: 2020-Novembro, Bernardo Viseu
