extends layout
block content
    .w3-card-4
    header.w3-container.w3-teal
      h3= title
    p Bem vindo ao sistema de alunos.
    p
        a(href='/alunos') Ver todos os alunos.
    p
        a(href='/alunos/registar') Registar novo aluno.
    footer(class="w3-container w3-teal")
      address Gerado por galuno :: 2020-Novembro, Bernardo Viseu
